* {
    background-color: #e1d6c4;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2.5em;
    margin-left: 10%;
    color: #333333;
    margin-top: 15%;
}

h2{
    margin-left: 10%;
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    color: #575b79;
    text-align: left;
    margin-top: 15%;
}

h3{
    margin-left: 10%;
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.5em;
    color: #575b79;
    text-align: left;
    margin-top: 15%;
}

h4{
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 1em;
    color: #333333;
}

p{
    background-color: transparent;
    font-size: 1em;
    letter-spacing: 1.5px;
    font-weight: lighter;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: center;
    margin-top: 5%;
}
/* mouse */
#mouse {
    background-color: transparent;
    height: 100px;
    width: 100px;
    position: absolute;
    animation: rotation 20s linear infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* navBar */
#cd_logo{
    width: 80px;
    background-color: transparent;
    margin: 5% 0;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(184, 183, 179);
    height: 80px;
    width: 100%;
    position: fixed;
}

.navBar-left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 20%;
}

.navBar a {
    background-color: transparent;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
}
.navBar a:hover {
    color:#6c729e;
}

/* iconBar */
.iconBar{
    display: flex;
    margin: 5% -8% ;
    padding: 2%;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 30%;
    background-color: transparent;
    align-items: center;
}

.icon{
    width: 10%;
    margin: 10%;
    background-color: transparent;
    margin-left: 45%;
}
.iconw{
    width: 20%;
    margin: 10%;
    background-color: transparent;
}

.vertical-line {
    border-left: 3px solid #333333;
    height: 200px;
    margin-top: 2%;
    background-color: transparent;
}

.iconBar a {
    background-color: transparent;
    margin-top: 5%;
    text-decoration: none;
    margin-right: 0;
    padding-right: 0;
}

/* mailBar */
.mailBar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    top: 75%;
    right: 0px;
    margin-right: -14%;
    margin-top: -5%;
    background-color: transparent;
    transform: rotate(90deg);
}

#email {
    text-decoration: none;
    color: #333333;
    background-color: transparent;
    letter-spacing: 6px;
    font-size: smaller;
    text-align: end;
}

.vertical-line2 {
    border-left: 3px solid #333333;
    height: 50px;
    background-color: transparent;
    margin-left: 100px;
    transform: rotate(90deg);
}

/* header */
#app {
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    background-image: url("img/Profile_BW_NoBG.png"), url("imgs/Profile_Ic_NoBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#filler {
    background-image: url("img/Profile_CA_NoBG.png"), url("imgs/Profile_Ic_NoBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    transition: width 0.2s;
}

.coder{
    position: absolute;
    width:40%;
    left: 56%;
    top: 12%;
    background-color: transparent;
}
.manager {
    position: absolute;
    width: 40%;
    min-width: 20%;
    left: 1%;
    top: 12%;
    background-color: transparent;
}

.coder h2, .manager h2{
    text-align: left;
    margin-left: 20%;
}
.coder p, .manager p{
    margin-top: 2%;
}

/* technologies */
.technologiesNames{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5% 20% 0 20%;
}

.tech{
    background-color: white;
    height: 50%;
    width: 30%;
    text-align: center;
    margin: 2%;
    flex: 1 0 18%;
    box-shadow: 1px 1px 4px 6px #d5cab7;
}

.webDev {
    border-top: 5px solid #dcdbd6;
}
.hosting {
    border-top: 5px solid rgb(169, 187, 173);
}
.dataBase {
    border-top: 5px solid #575b79;
}
.framework {
    border-top: 5px solid #6c729e;
}
.computerSciences {
    border-top: 5px solid #c65023;
}
.library {
    border-top: 5px solid #eb8c67;
}
.concepts {
    border-top: 5px solid #b8b7b3;
}

.techIcon{
    width: 30%;
    margin: 15% 10% 10% 10%;
}

.techLight{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .8em;
}
.bold{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .8em;
    font-weight: bold;
}

/* projects */
.project {
    margin: 50px 0;
}

.projectRow {
    display: flex;
}

.projectSquare {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 5px;
    padding-top: 80px;
}

.project21 {
    background-color: #dcdbd6;
}
.project22 {
    background-color: #c65023;
}
.project23 {
    background-color: #575b79;
}
.project24 {
    background-color: #b8b7b3;
}

.project23,
.project22,
.project23 a,
.project22 a,
.project23 h4,
.project22 h4{
    color: white;
}

.project23 a,
.project22 a,
.project23 span,
.project22 span{
    background-color: transparent;
}

.project21 a,
.project24 a,
.project21 span,
.project24 span{
    background-color: transparent;
    color: #333333;
}

.projectSquare Span {
    font-weight: bold;
}

#TbgScreen1 {
    border-radius: 20px 20px 0 0;
    margin-top: 5%;
}   
    /* about */
    .about p{
        line-height: 45px;
        width: 50%;
    }
    
    /* timeline */
    .contentTimeLine{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sideMenu {
        flex-direction: column;
        width: 85%;
        justify-content: center;
        margin-right: 5%;
        margin-top: 5%;
        margin-left: 15%;
        flex: 1;
    }
    .sideMenu button {
        border-left: transparent;
        border-top: transparent;
        border-bottom: transparent;
        padding: 15% 10%;
        text-align: right;
        color: #333333;
        font-size: 1em;
        width: 100%;
        letter-spacing: .8px;
    }
    .sideMenu button:hover {
        border-right: #575b79;
        color: rgb(169, 187, 173);
    }
    
    .box {
        flex: 5;
        text-align: left;
        box-shadow: .7px .7px 1px 4px #d5cab7;
        margin: 5% 0 0 0;
        padding: 2% 1%;
        background-color: white;
        margin-right: 10%;
        border-radius: 20px;
    }
    
    #arrow{
        width: 4%;
        height: 5%;
        margin-right: 4%;
        margin-left: 1%;
        transform: rotate(-30deg);
        background-color: transparent;
    }
    
    .p, .timeLineTitle, .timeLineText, .timeLineTitle h5, .timeLineTitle span{
        margin: 0;
        background-color: white;
    }
    
    .p{
        display: flex;
        align-items: center;
    }
    
    .timeLineText{
        display: flex;
        flex-direction: column;
    }
    
    .timeLineTitle{
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 3px;
    }
    
    #color{
        color: rgb(169, 187, 173);
    }
    .timeLineTitle p{
        margin-top: 1%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: .6em;
    }
    
    #lineUp{
        text-align: left;
        margin: 0;
        margin-top: 2%;
        color: rgb(169, 187, 173);
    }
    
    .box p {
        width: 80%;
    }
    
    /* funFact */
    .funFact p{
        font-size: 1.5em;
    }
    
    /* skills */
    #skillGraph{
        width: 60%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: transparent;
    }
    
    .skillNames{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .skillNames p{
        margin: 1%;
        letter-spacing: 2px;
        color: #c65023;
    }
    #teamman{
        margin-left: 22%;
    }
    #prod{
        margin-right: 22%;
    }
    
    /* outside */
    .outside h2{
        margin-bottom: 0;
    }
    .outside h3{
        margin-top: 1%;
    }
    
    .outsideImg{
        display: flex;
        justify-content: center;
    }
    
    .outsideImg img{
        width: 15%;
        margin: 5% 5% 0 5%;
    }
    
    .caption{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .caption p{
        margin: 0;
    }
    #world{
        margin-left: 12%;
    }
    #books{
        margin-right: 12%;
    }
    
    /* footer */
    footer{
        background-color: #dcdbd6;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
    }
    
    #cd_logo_2{
        width: 70px;
        background-color: #dcdbd6;
    }
    
    .contactsIcons, .contactsIcons a, .nameLogo2 p, .nameLogo2, #emailF, #resume, .contacts{
        background-color: #dcdbd6;
    }
    
    .contactsIcons, .nameLogo2{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contactLogo{
        width: 20px;
        background-color: transparent;
        margin: 20px;
    }
    
    .nameLogo2{
        width: 20%;
        margin-top: 5%;
    }
    
    #emailF, #resume{
        text-decoration: none;
        color: #333333;
        text-align: center;
        letter-spacing: 2px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #emailF{
        font-weight: lighter;
    }
    #resume:hover {
        color: white;
    }
    
    #c{
        margin: 2%;
    }
    
/* slide effect  */
    .slide-in-left.anim {
        -webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .slide-in-leftb.anim {
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    @-webkit-keyframes slide-in-left {
        0% {
            -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
            opacity: 0;
        }
        
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    @keyframes slide-in-left {
        0% {
            -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
            opacity: 0;
        }
        
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    .slide-in-right.anim {
        -webkit-animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    
    .slide-in-rightb.anim {
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-in-right {
        0% {
            -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
            opacity: 0;
        }
        
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    @keyframes slide-in-right {
        0% {
            -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
            opacity: 0;
        }
        
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }

/* screen size */
@media only screen and (max-width: 428px) {
    #carolineHeader {
        width: 100%;
        margin-top: 100px;
    }

    #experience {
        width: 80%;
        color: #464545;
        font-size: .5em;
    }

    #TbgScreen1 {
        width: 184px;
        height: 150px;
    }
    #TbgScreen1:hover {
        width: 194px;
        height: 170px;
    }

    .iconBar, .mailBar, #app, .navBar a{
        display: none;
    }

    .coder, .manager{
        position: static;
        width: 100%;
    }

    .technologiesNames{
        margin: 10% 5% 0 5%;
    }
    
    .tech{
        height: 120px;
        width: 300px;
        flex: 1;
        padding: 10px;
    }
    .techLight, .bold{
        font-size: .8em;
        margin-right: 10px;
        margin-left: 25px;
    }
    #bcrypt{
        width: 20px;
    }

    .projectRow {
        display: block;
    }
    .projectSquare {
        width: 100%;
    }
    .projectSquare p{
        width: 80%;
    }

    .about p{
        width: 70%;
        line-height: 30px;
    }

    .contentTimeLine{
        display: block;
    }
    .sideMenu{
        display: inline;
        margin-top: 15%;
    }
    .sideMenu button{
        margin: 0;
        padding: 10px 0;
        text-align: left;
        margin-left: 10%;
    }
    .box{
        margin-left: 10px;
        margin-right: 10px;
        padding: 10% 5%;
    }
    #ceo{
        margin-left: -5%;
        margin-top: 30px;
    }

    .funFact p{
        font-size: 1em;
        width: 85%;
    }

    #skillGraph{
        width: 80%;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .skillNames p{
        width: 40%;
    }
    #teamman, #cod, #prod{
        margin-top: 0px;
    }
    #prob, #org{
        margin-top: 50px;
    }
    #org{
        width: 55px;
        word-wrap: break-word
    }

    .contactsIcons{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 481px) {
    #TbgScreen1 {
        width: 218px;
        height: 186px;
    }
    #TbgScreen1:hover {
        width: 238px;
        height: 206px;
    }
    #carolineHeader, #experience {
        display: none;
    }
}
@media only screen and (min-width: 1023px) {
    #TbgScreen1 {
        width: 328px;
        height: 280px;
    }
    #TbgScreen1:hover {
        width: 370px;
        height: 323px;
    }
    #carolineHeader, #experience {
        display: none;
    }

}